:root{
    --primary:#6F1D1B;
    --secondary:#BB9457;
    --dark:#432818;
    --accent:#99582A;
    --light:#FFE6A7;
}

*{
   margin:0;
   padding:0;
   box-sizing:border-box; 
}

<!-- Styling -- >
body{
    font-family: 'Poppins', sans-serif;
    background:var(--light);
    color:var(--dark);
}



.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 8%;

     background-color: var(--dark);
}

.logo{
    font-family: 'Playfair Display', serif;
    color: var(--light);
    font-size:2rem;
}

.nav-links{
    list-style:none;
    display:flex;
    gap:35px;
}

.nav-links a{
    text-decoration:none;
    color: var(--light);
    font-size:1rem;
    font-weight:500;
    transition:0.3s ease;
}

.nav-links a:hover{
    color: var(--secondary);
    transform:translateY(-2px);
}

.hero{
    height:100vh;
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    position: relative;
}

.hero::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
}

.hero-content{
    max-width: 700px;
    padding: 20px;
    position: relative;
    z-index: 1;
}

.hero-content h2{
    font-family: "Playfair Display", serif;
    font-size: 3.2rem;
    color: white;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.5);

    margin-bottom: 20px;
}

.hero-content p{
    color: var(--light);

    font-size: 1.2rem;

    text-shadow: 1px 1px 4px rgba(0,0,0,0.4);

    line-height: 1.8;

    margin-bottom: 35px;

    color: var(--light);

    max-width: 650px;

    margin: 0 auto 35px;
}

.hero-button{
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
}

.btn,
button{
    padding:16px 36px;
    border:none;
    border-radius:10px;
    text-decoration: none;
    cursor:pointer;

    font-size:1rem;
    font-weight:600;

    transition:0.3s ease;
}

.primary-btn{
    background:var(--primary);
    color:white;
}

.primary-btn:hover{
    background:var(--accent);
}

.secondary-btn{
    background:transparent;
    border:2px solid var(--secondary);
    color:var(--secondary);
}

.secondary-btn:hover{
    background:var(--secondary);
    color:var(--dark);
}

footer{
    background: var(--dark);
    color: white;
    padding: 45px 20px;
    text-align: center;
}

.footer-container h2{
    font-family: "Playfair Display", serif;
    color: var(--secondary);
    margin-bottom: 12px;
}

.footer-container p{
    margin-bottom: 20px;
    color: #ddd;
    line-height: 1.6;
}

.footer-links{
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
    margin: 30px 0;
}

.footer-links a{
    color: white;
    text-decoration: none;
    transition: 0.3s ease;
}

.footer-links a:hover{
    color: var(--secondary);
}

.copyright{
    margin-top: 35px;
    padding-top: 20px;
    border-top: 1px solid rgba(255,255,255,0.2);
    color: #bbb;
    font-size: 0.9rem;
}

/* ABOUT SECTION */

.about{
    padding: 80px 10%;
    background: white;
}

.about-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
}

.about-image img{
    width: 100%;
    border-radius: 12px;
    display: block;
}

.about-content h2{
    font-size: 2.5rem;
    color: var(--primary);
    margin-bottom: 20px;
}

.about-content p{
    color: var(--accent);
    line-height: 1.8;
    margin-bottom: 20px;
}

/* Product Section */

.products{
    padding: 100px 10%;
    background-color: #F8F5F2;
}

.products h2{
    text-align: center;
    font-family: "Playfair Display", serif;
    font-size: 2.8rem;
    color: var(--primary);
    margin-bottom: 60px;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.product-card{
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);

    transition: 0.3s ease;
}

.product-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.2);
}

.product-card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.product-card h3{
    color: var(--primary);
    font-size: 1.5rem;
    margin: 20px;
}

.product-card p{
    color: #666;
    line-height: 1.7;
    margin: 0 20px 25px;
}

/* Contact Section */

.contact{
    padding: 100px 10%;
    background-color: #FFF8E8;
}

.contact h2{
    text-align: center;
    font-family: "Playfair Display", serif;
    font-size: 2.8rem;
    color: var(--primary);
    margin-bottom: 60px;
}

.contact-container{
    display: flex;
    justify-content: center;
}

.contact-info{
    background: white;
    width: 100%;
    max-width: 700px;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.contact-info h3{
    color: var(--primary);
    font-size: 2rem;
    margin-bottom: 25px;
}

.contact-info p{
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 18px;
    line-height: 1.7;
}

.contact-info:hover{
    transform: translateY(-5px);
    transition: 0.3s ease;
}

